In [3]:
import pandas as pd

In [41]:
# Let's have a look into the data.
df = pd.read_csv('data/ene_mo18.csv', delimiter=';')
df.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,DIA,H01,V01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
0,28,79,4,1,28079004_1_38,2018,1,1,1.0,V,...,2.0,V,1.0,V,1.0,V,1.0,V,1.0,V
1,28,79,4,1,28079004_1_38,2018,1,2,1.0,V,...,1.0,V,1.0,V,1.0,V,2.0,V,2.0,V
2,28,79,4,1,28079004_1_38,2018,1,3,1.0,V,...,2.0,V,2.0,V,2.0,V,3.0,V,2.0,V
3,28,79,4,1,28079004_1_38,2018,1,4,2.0,V,...,2.0,V,1.0,V,1.0,V,1.0,V,1.0,V
4,28,79,4,1,28079004_1_38,2018,1,5,1.0,V,...,2.0,V,2.0,V,2.0,V,1.0,V,2.0,V

In [42]:
# Filter values as we just want NO2 values.
nitrogen_dioxide = df['MAGNITUD'] == 8
df = df[nitrogen_dioxide]
df.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,DIA,H01,V01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
93,28,79,4,8,28079004_8_8,2018,1,1,15.0,V,...,39.0,V,35.0,V,27.0,V,23.0,V,11.0,V
94,28,79,4,8,28079004_8_8,2018,1,2,13.0,V,...,38.0,V,41.0,V,47.0,V,55.0,V,47.0,V
95,28,79,4,8,28079004_8_8,2018,1,3,35.0,V,...,53.0,V,47.0,V,51.0,V,56.0,V,41.0,V
96,28,79,4,8,28079004_8_8,2018,1,4,35.0,V,...,42.0,V,36.0,V,35.0,V,34.0,V,28.0,V
97,28,79,4,8,28079004_8_8,2018,1,5,24.0,V,...,53.0,V,54.0,V,52.0,V,46.0,V,44.0,V